* {
    background-color: floralwhite;
}

#line1 {
    font-family: Cochin; color:darkslateblue;
    margin-top: 100px;
    margin-left: 100px;
    display: inline-block;
}

#line2 {
    font-family: Cochin; color:darkslateblue;
    margin-left: 250px;
    display: inline-block;
}

#line3 {
    font-family: Cochin; color:darkslateblue;
    margin-left: 400px;
}

#line4 {
    font-family: Cochin; color:darkslateblue;
    margin-top: 200px;
    margin-left: 550px;
    display: inline-block;
}

#line5 {
    font-family: Cochin; color:darkslateblue;
    margin-top: 200px;
    margin-left: 100px;
    display: inline-block;
}

a {
    font-family: Cochin; color:darkslateblue;
    margin-left: 100px;
}

.dont {
    font-family: Cochin; color: darkslateblue;
    font-style: italic;
}

.dont:hover {
    animation: fade 1s forwards 1;
    font-style: italic;
}

#nothing {
    font-family: Cochin; color:darkslateblue;
    font-style: italic;
}

#nothing:hover {
    animation: fade 1s forwards 1;
    font-style: italic;
}

#never {
    font-family: Cochin; color:darkslateblue;
    font-style: italic;
}

#never:hover {
    animation: fade 1s forwards 1;
    font-style: italic;
}

@keyframes fade {
    0% {
        color: darkslateblue;
    }
    100% {
        color: floralwhite;
    }
}
