* {
    background-color: floralwhite;
}

.gone {
    font-family: Cochin;
    color: darkslategray;
    font-size: 35pt;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
}

.gone:hover {
    animation: changeSize 5s forwards 1;
}

@keyframes changeSize {
    0% {
        color: darkslategray;
        font-size: 35pt;
    }
    
    50% {
        color: darkred;
        font-size: 20pt;

    100% {
        color: black;
        font-size: 5pt;
    }
}
