* {
    background-color: floralwhite;
}

#line1 {
    font-family: Cochin; color:darkslateblue;
    margin-top: 100px;
    margin-left: 100px;
}

#line2 {
    font-family: Cochin; color:darkslateblue;
    margin-left: 250px;
}

#line3 {
    font-family: Cochin; color:darkslateblue;
    margin-left: 400px;
}

#line4 {
    font-family: Cochin; color:darkslateblue;
    margin-left: 550px;
}

#line5 {
    font-family: Cochin; color:darkslateblue;
    margin-left: 700px;
}

a {
    font-family: Cochin; color:darkslateblue;
    margin-left: 850px;
}

.dont {
    font-family: Cochin; color: darkslateblue;
    font-style: italic;
}

.dont:hover {
    animation: fade 1s forwards 1;
    font-style: italic;
}

#nothing {
    font-family: Cochin; color:darkslateblue;
    font-style: italic;
}

#nothing:hover {
    animation: fade 1s forwards 1;
    font-style: italic;
}

#never {
    font-family: Cochin; color:darkslateblue;
    font-style: italic;
}

#never:hover {
    animation: fade 3s forwards 1;
    font-style: italic;
}

.poetry {
    position: relative;
}

.poetry:hover {
    animation: flying 2s infinite alternate;
}

@keyframes fade {
    0% {
        color: darkslateblue;
    }
    50% {
        color: darkred;
    }
    100% {
        color: floralwhite;
        font-size: 5pt;
        transform: skew(120deg);
    }
}

@keyframes flying {
    50% {
        transform: translate (10px, 5px);
    }
    100% {
        transform: translate (0px, 0px);
    }
}
