* {
    background-color: black;
}

.gone {
    font-family: cochin;
    color: darkred;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
}

.gone:hover {
    animation: changeSize 5s forwards 1;
}

@keyframes changeSize {
    0% {
        color: darkred;
        font-size: 30pt;
    }

    100% {
        color: black;
        font-size: 5pt;
    }
}
